<!--This code filters addIns and print select tags if addIn has children and add those children to rendered selected tag.
If addIn doesn't have children it just add's that addIn to select tag.If addIn has pump value it is printed with parent's name
outside of select tag because pumps need to be flexible for incrementation and decrementation -->
<ng-container *ngFor="let addIn of addIns">
    <ng-container *ngIf="addIn.children ; else addInHasNoChildren">
        <label class="mt-5">{{addIn.name}}</label>
        <select>
            <ng-container *ngFor="let subchild of addIn.children">
                <ng-container *ngIf="!subchild.children">
                    <ng-container *ngIf="hasSubchildPump(subchild)">
                        <option>{{subchild.name}}</option>
                    </ng-container>
                </ng-container>
            </ng-container>
        </select>
        <app-add-in-select [addIns]="addIn.children" [parentName]="addIn.name"></app-add-in-select>
    </ng-container>
    <ng-template #addInHasNoChildren>
        <ng-container *ngIf="!hasSubchildPump(addIn)">
            <label class="mt-5">{{parentName}}</label>
            <p>{{addIn.name}}</p>
        </ng-container>
    </ng-template>
</ng-container>




