<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Calories</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
    
                    <ng-container *ngFor="let product of products">
                      <tr>
                        <td style="width: 8em;"><img style="width: 80%;" src="http://localhost:5156/posts/{{product.imageSrc}}" alt="Uploaded Image" /></td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.calories}}</td>
                        <td>{{product.price | currency:'USD'}}</td>
                        <td><p style="width: 2em; cursor: pointer; margin-bottom: 0em !important;" (click)="edit(product.id)">Edit</p></td>
                        <td><p style="width: 3em; cursor: pointer; margin: 0em !important;" (click)="delete(product.id)">Delete</p></td>
                      </tr>    
                    </ng-container>
    
                </tbody>
              </table>
              
        </div>
        <div class="col-12">
          <app-add-product></app-add-product>
        </div>
    </div>
</div>
