#formSection {
    background-color: #1e3932;
    min-height: 100vh;
}

#cartForm {
    margin:8em 0em 0em 2em;
}

.orderButton{
    position: fixed;
    right: 3em;
    bottom: 2em;
    width: 5em;
    border-radius: 20px;
}

::ng-deep #leftSection .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: transparent !important;
}

::ng-deep #leftSection .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom: 1px solid #ffffffb3 !important;
}

::ng-deep #leftSection .mat-mdc-form-field {
    --mdc-filled-text-field-label-text-color:#ffffffb3;
    --mdc-filled-text-field-focus-label-text-color:#ffffffb3;
}

.pickupButton {
    width:50%;
    border: none;
    padding: 7px 16px;
}

.buttonWrapper{
    border: 1px solid white;
    border-radius: 4px;
}

button.active {
    background-color:#d4e9e2 ;
}

button.inactive {
    background-color: transparent;
    color:white;
}

#cartProductsHolder{
    background-color: #f9f9f9;
}

.productImg{
    width: 8em;
    height: 8em;
    margin: 0px auto;
}

.productImg img {
    width: 100%;
    border-radius:50%;
}

.cartItem{
    background-color: white;
    box-shadow:  0px 0px .5px 0px #00000024, 0px 1px 1px 0px #0000003d;
    border-radius: 12px;
}

.dottedUnderline{
    background-image: -webkit-repeating-radial-gradient(center center, currentColor, currentColor 1px, #0000 1px, #0000 100%);
    background-position: 0 75%;
    background-repeat: repeat-x;
    background-size: 5px 5px;
    min-height: 2em;
    opacity: .3;
}

