#leftSection {
    background-color: #1e3932;
    min-height: 100vh;
}

#cartForm {
    margin:10em 0em 0em 2em;
}

.orderButton{
    position: fixed;
    right: 3em;
    bottom: 2em;
    width: 5em;
    border-radius: 20px;
}

::ng-deep #leftSection .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: transparent !important;
}

::ng-deep #leftSection .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom: 1px solid #ffffffb3 !important;
}

::ng-deep #leftSection .mat-mdc-form-field {
    --mdc-filled-text-field-label-text-color:#ffffffb3;
    --mdc-filled-text-field-focus-label-text-color:#ffffffb3;
}

.pickupButton {
    width:50%;
    border: none;
    padding: 7px 16px;
}

.buttonWrapper{
    border: 1px solid white;
    border-radius: 4px;
}

button.active {
    background-color:#d4e9e2 ;
}

button.inactive {
    background-color: transparent;
    color:white;
}