table {
  margin: 0px auto;
    margin-top: 5em;
    width: 80%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
  }
  th {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: left;
    background-color: #f2f2f2;
  }

  mat-paginator{
    margin-top:3em;
    background-color: #f5f7fb;
    width: 70%;
  }