/*this code restyles materials built-in styles on whole app*/

::ng-deep .mat-primary .mat-mdc-select-arrow, ::ng-deep .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color:#00754a;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled),::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: #00754a !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom: 1px solid black !important;
}

::ng-deep .mdc-text-field--filled .mdc-floating-label{
    font-weight: 500 !important;
}

::ng-deep .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-focus-icon-color : #00754a;
    --mdc-checkbox-selected-pressed-icon-color : #00754a;
    --mdc-checkbox-selected-hover-icon-color : #00754a;
    --mdc-checkbox-selected-icon-color : #00754a;
    --mdc-checkbox-unselected-pressed-state-layer-color : #00754a;
    --mdc-checkbox-selected-pressed-state-layer-color : #00754a;
    --mdc-checkbox-unselected-focus-state-layer-color : #00754a;
    --mdc-checkbox-selected-focus-state-layer-color : #00754a;
}

::ng-deep .mat-mdc-form-field-infix {
    width: 70% !important;
}