<section class="mb-5 mt-5">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-8">
                    <h2 class="mt-5 text-center">Add new product</h2>
                    <div>
                        <form [formGroup]="addProductForm" class="d-flex flex-column mt-5">
                            <mat-form-field class="formField">
                                <mat-label>Product Name</mat-label>
                                <input matInput required formControlName="name">
                                <mat-error *ngIf="addProductForm.value.name">Name must be between 3 and 50 characters long.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="formField">
                                <mat-label>Category</mat-label>
                                <select matNativeControl required formControlName="category">
                                    <ng-container *ngFor="let category of categoriesWithNoChildren">
                                        <option [value]="category.id">{{category.name}}</option>
                                    </ng-container>

                                </select>
                            </mat-form-field>
                            <mat-form-field class="formField">
                                <mat-label>Calories</mat-label>
                                <input matInput required formControlName="calories">
                                <mat-error *ngIf="addProductForm.value.calories">Calories must be whole positive number.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="formField">
                                <mat-label>Price</mat-label>
                                <input matInput required formControlName="price">
                                <mat-error *ngIf="addProductForm.value.price">Price must be positive decimal number.</mat-error>
                            </mat-form-field>

                            <input (change)="uploadImage($event)" required type="file" class="inputFile" id="file" #file formControlName="productImage" />
                            <label class="d-flex justify-content-center" style="cursor: pointer;" for="file"><span #fileLabel>Choose file</span></label>
                            <div class="d-flex justify-content-center mt-5 signInButton">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init (click)="sendData()"
                                    [disabled]="addProductForm.invalid"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-white">Add
                                    product</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>