<div class="container mb-5">
    <div class="row">
        <div class="col-10 col-md-6 col-lg-4">
            <h3 class="mt-3 mb-3">Previous</h3>
            <img src="/assets/img/gifs/fav-tapes.webp"/>
            <h4 class="mt-5">Save your favorite mixes</h4>
            <p>Use the heart to save customizations. Your favorites will appear here to order again.</p>
            <ng-container *ngIf="currentUser; else noLoggedInUser">
                <app-logout></app-logout>
              </ng-container>
              <ng-template #noLoggedInUser>
                <app-auth-form></app-auth-form>
              </ng-template>
        </div>
    </div>
</div>
