<div class="container mt-5 mb-5 pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center" >
            <h3>We can't find the page you're looking for.</h3>
            <p>Don't worry, it's just a little spilled Americano. Let us help you clean that up and find your way!</p>
        </div>
        <div class="col-10">
            <div class="row d-flex justify-content-center">
                <div class=" col-12 col-sm-7 col-lg-5">
                    <img src="/assets/img/banners/pageNotFoundBanner.JPG" alt="pageNotFoundPicture" />
                </div>
                <div class="col-12 col-sm-5 col-lg-3 d-flex flex-column justify-content-center">
                    <h5>Would you like to:</h5>
                    <ul>
                        <li class="mt-2"><a>Place an order</a></li>
                        <li class="mt-2"><a>Check a gift card</a></li>
                        <li class="mt-2"><a routerLink="">Return to home page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
