<div class="container mb-5">
    <div class="row">
        <div class="col-10 col-md-6 col-lg-4">
            <h3 class="mt-3 mb-3">Previous</h3>
            <img src="/assets/img/gifs/moon-phases.webp"/>
            <h4>When history repeats itself</h4>
            <p>Previous orders will appear here to quickly order again</p>
            <ng-container *ngIf="currentUser; else noLoggedInUser">
                <app-logout></app-logout>
              </ng-container>
              <ng-template #noLoggedInUser>
                <app-auth-form></app-auth-form>
              </ng-template>
        </div>
    </div>
</div>
