<div class="container mb-5">
    <div class="row">
        <ng-container *ngIf="currentUser; else noLoggedInUser">
            <div class="mt-4">
                <mat-form-field style="width: 25%; margin-right: 3em;">
                    <mat-label>Filter by date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date" [(ngModel)]="dateFrom">
                      <input matEndDate placeholder="End date" [(ngModel)]="dateTo" (dateChange)="filterOrders()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                  <button class="btn btn-success btn-block btn-sm gradient-custom-4 text-white" (click)="clearFilters()">Clear Filters</button>
              </div>
            <ng-container *ngIf="orders?.length; else noOrders">
                <div>
                    <table class="orders-table">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Products</th>
                                <th>Add-Ins</th>
                                <th>Order Time</th>
                                <th>Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let order of orders">
                                <tr>
                                    <td>#{{order.orderId}}</td>
                                    <td>
                                        <ul class="product-list">
                                            <ng-container *ngFor="let product of order.products; let i = index">
                                                <li class="highlight">{{i + 1}}) {{product.name}}</li>
                                            </ng-container>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="add-in-list">
                                            <ng-container *ngFor="let product of order.products let i= index">
                                                <p>{{i+1}})</p>
                                                <ng-container *ngFor="let addIn of product.addIns">
                                                    <ng-container *ngIf="addIn.pump; else addInWithoutPump">
                                                        <li>{{addIn.addInName}} ({{addIn.pump}} pumps)</li>
                                                    </ng-container>
                                                    <ng-template #addInWithoutPump>
                                                        <li>{{addIn.addInName}}</li>
                                                    </ng-template>
                                                </ng-container>
                                            </ng-container>
                                        </ul>
                                    </td>
                                    <td>{{order.createdAt | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
                                    <td>{{order.address}}</td>
                                    <td><button class="btn btn-success btn-block btn-sm gradient-custom-4 text-white">Reorder</button></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                  </div>
                    <mat-paginator 
                        [length]="totalItems"
                        [pageSize]="perPage"
                        [pageIndex]="currentPage"
                        (page)="pageChanged($event)">
                    </mat-paginator>
            </ng-container>
        </ng-container>
    </div>
</div>



<ng-template #noLoggedInUser>
    <ng-container *ngTemplateOutlet="noOrders">

    </ng-container>
    <app-auth-form></app-auth-form>
</ng-template>

<ng-template #noOrders>
    <div class="col-10 col-md-6 col-lg-4">
        <h3 class="mt-3 mb-3">Previous</h3>
        <img src="/assets/img/gifs/moon-phases.webp"/>
        <h4>When history repeats itself</h4>
        <p>Previous orders will appear here to quickly order again.</p>
    </div>
</ng-template>
