img {
    width:100%
}

.tall-size {
    height: 50px;
    background-image: url("/assets/img/sizes/tall.png");
    background-repeat: no-repeat;
    background-position: center;
}
.grande-size {
    height: 50px;
    background-image: url("/assets/img/sizes/grande.png");
    background-repeat: no-repeat;
    background-position: center;
}
.venti-size {
    height: 50px;
    background-image: url("/assets/img/sizes/venti.png");
    background-repeat: no-repeat;
    background-position: center;
}
.trenta-size {
    height: 50px;
    background-image: url("/assets/img/sizes/trenta.png");
    background-repeat: no-repeat;
    background-position: center;
}
.tall-size-active {
    height: 50px;
    background-image: url("/assets/img/sizes/tall-active.png");
    background-repeat: no-repeat;
    background-position: center;
}
.grande-size-active {
    height: 50px;
    background-image: url("/assets/img/sizes/grande-active.png");
    background-repeat: no-repeat;
    background-position: center;
}
.venti-size-active {
    height: 50px;
    background-image: url("/assets/img/sizes/venti-active.png");
    background-repeat: no-repeat;
    background-position: center;
}
.trenta-size-active {
    height: 50px;
    background-image: url("/assets/img/sizes/trenta-active.png");
    background-repeat: no-repeat;
    background-position: center;
}
.sizeOptions,.includedAddIns{
    margin-top:2em;
    margin-left: 10em;
}


h2 {
    font-weight: 500;
    font-size: 1.7em;
    padding-bottom: 0.8em;
    border-bottom: 4px solid #d4e9e2;
}

.cupSize{
    cursor: pointer;
}

.orderButton{
    position: fixed;
    right: 6em;
    bottom: 6em;
    width: 8em;
    border-radius: 20px;
}

@media screen and (max-width:992px) {
    .product-container{
        margin: 0px auto;
    }
    .product-text-container{
        align-items: center;
    }
    .product-text-container h1{
        text-align: center;
    }
    .includedAddIns{
        margin-left: 10em;
    }
    .sizeOptions,.includedAddIns{
        margin-left:0em;
    }
    .flexCenter {
        display: flex;
        justify-content: center;
    }
}


