img {
    max-width: 100%;
    height: auto;
}

.row>*{
    padding-left: 0px;
    padding-right: 0pc;
}

.linkBtn{
    border-radius: 50px ;
    display:inline-block;
    border-style: solid;
    border-width: 1px;
    padding : 0.2em 1em 0.2em 1em;
    margin-right: 1em;
}

.padding-top{
    padding-top: 8em;
}


@media screen and (max-width:1200px) {
    .padding-top{
        padding-top: 5em;
    }
}

@media screen and (max-width:768px) {
    .padding-top{
        padding-top: 2em;
    }
}