<div class="container-md mb-5">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex flex-column-reverse flex-md-row" style="background-color: #b5eb9f;">
                    <div class="col-12 col-md-6 text-center">
                        <h1 class="mt-5 h3">Pretty. Rewarding.</h1>
                        <p class="mt-2 mr-3 ml-3 mb-3 text-center fs-5" style="width: 70%; margin: 0px auto">Turn spring sips into free sips. Join Starbucks® Rewards and start earning towards free favorites.*</p>
                        <a class="linkBtn mb-3">Order now</a>
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <img src="/assets/img/banners/starbucksRewardBanner.jpg" alt="rewardsBanner" />
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="row" style="background-color: #41b9eb;">
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <img src="/assets/img/banners/starbucksLemonadesBanner.jpg" alt="lemonadeBanner"/>
                    </div>
                    <div class="col-12 col-md-6 text-center padding-top ">
                        <h2 class="mt-5 h1">Absolutely no chill</h2>
                        <p class="mt-5 mr-3 ml-3 mb-3 text-center fs-5" style="width: 70%; margin: 0px auto">New Spicy Lemonade Refreshers® with real fruit and our three-pepper chili blend are coming in hot.</p>
                        <a class="linkBtn mb-3">Order now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="row d-flex flex-column-reverse flex-md-row" style="background-color: #d8da6d;">
                    <div class="col-12 col-md-6 text-center padding-top">
                        <h2 class="mt-5 h1">Thank you, nurses & teachers</h2>
                        <p class="mt-5 mr-3 ml-3 mb-3 text-center fs-5" style="width: 70%; margin: 0px auto">Express your gratitude for all they do with a thoughtful Starbucks eGift.</p>
                        <a class="linkBtn mb-3">Order now</a>
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <img src="/assets/img/banners/starbucksEgiftBanner.jpg" alt="eGiftBanner"/>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="row " style="background-color: #d5d0ea;">
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <img src="/assets/img/banners/starbucksCreamyBanner.jpg" alt="creamyDtinksBanner"/>
                    </div>
                    <div class="col-12 col-md-6 text-center padding-top">
                        <h2 class="mt-5 h1">Savor lavender while you can</h2>
                        <p class="mt-5 mr-3 ml-3 mb-3 text-center fs-5" style="width: 70%; margin: 0px auto">There’s still time to enjoy our lavender lineup. Try a caffeine-free Lavender Oatmilk Chill or a silky matcha, creamy Frappuccino® blended beverage or smooth latte.</p>
                        <a class="linkBtn mb-3">Order now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4 ">
                <div class="row d-flex flex-column-reverse flex-md-row" style="background-color: #f5cac4;">
                    <div class="col-12 col-md-6 text-center padding-top" >
                        <h2 class="mt-5 h1">Hearty on the go</h2>
                        <p class="mt-5 mr-3 ml-3 mb-3 text-center fs-5" style="width: 70%; margin: 0px auto">For a delicious protein-packed option, count on the Bacon, Sausage & Egg Wrap.</p>
                        <a class="linkBtn mb-3">Order now</a>
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <img src="/assets/img/banners/starbucksToritllaBanner.jpg" alt="tortillaBanner" />
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="row" style="background-color: #1e3932;">
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <img src="/assets/img/banners/starbucksWorldCentralKitchenBanner.jpg" alt="worldKitchenBanner" />
                    </div>
                    <div class="col-12 col-md-6 text-center pt-5 text-white">
                        <h2 class="mt-5 h1">Support World Central Kitchen</h2>
                        <p class="mt-5 mr-3 ml-3 mb-3 text-center fs-5" style="width: 70%; margin: 0px auto">100% of the sales for every bag of Starbucks Odyssey Blend® purchased supports World Central Kitchen’s global humanitarian relief efforts.**</p>
                        <a class="linkBtn text-white mb-3">Order now</a>
                    </div>
                </div>
            </div>
        </div>
</div>
